.elementor-409 .elementor-element.elementor-element-21b714b5 > .elementor-container > .elementor-column > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-409 .elementor-element.elementor-element-21b714b5{margin-top:76px;margin-bottom:68px;padding:0px 15px 0px 55px;}.elementor-409 .elementor-element.elementor-element-2703b0d1 .ct-heading{text-align:center;}.elementor-409 .elementor-element.elementor-element-2703b0d1 .ct-heading .item--title{font-family:"PPNeueMontreal", Sans-serif;margin-bottom:0px;}.elementor-409 .elementor-element.elementor-element-2703b0d1 .ct-heading .item--sub-title{color:#0e0e0e;font-family: font-family: 'PPNeueMontreal', sans-serif;font-weight:400;margin-bottom:9px;}.elementor-409 .elementor-element.elementor-element-2703b0d1 .ct-heading .item--sub-title.style3:before{background-color:#0e0e0e;}.elementor-409 .elementor-element.elementor-element-2703b0d1 .ct-heading .item--sub-title.style7:before{background-color:#0e0e0e;}.elementor-409 .elementor-element.elementor-element-2703b0d1 .ct-heading .item--sub-title.style7:after{background-color:#0e0e0e;}.elementor-409 .elementor-element.elementor-element-3a8ea759{margin-top:0px;margin-bottom:15px;}@media(max-width:1240px){.elementor-409 .elementor-element.elementor-element-21b714b5{padding:0px 0px 0px 0px;}}/* Start Custom Fonts CSS */@font-face {
	font-family: 'PPNeueMontreal';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url('../fonts/6356b9816ed7636608a7cb25_PPNeueMontreal-Medium.woff2') format('woff2');
}
@font-face {
	font-family: 'PPNeueMontreal';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('../fonts/6356b981583d410c7992d51e_PPNeueMontreal-Regular.woff2') format('woff2');
}
@font-face {
	font-family: 'PPNeueMontreal';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('../fonts/6356b981e3a3e65b27abcdce_PPNeueMontreal-Semibold.woff2') format('woff2');
}
/* End Custom Fonts CSS */